.LandingHeader {
  background: url("../../../../images/header-bg.jpg");
  background: linear-gradient(to bottom right, #eb01a5, rgba(255, 255, 255, 0)),
    url("../../../../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: #ffffff;
    font-size: 1.2em;
  }
}
