@import "../../../../styles/vars.less";

.About {
  background: @text-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
